<html ng-app="receivablesApp">
<head>
<title>{{title}}</title>


<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1" name="viewport">
		
<!-- third party libs -->
<link rel="stylesheet" href="https://www.dfnx.io/assets/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.dfnx.io/assets/vendor/fontawesome-6.3.0/css/all.min.css">

<link rel="stylesheet" href="https://www.dfnx.io/assets/css/AdminLTE.css">
<link rel="stylesheet" href="https://www.dfnx.io/assets/css/skin-blue.css">

</head>
<body class="hold-transition skin-blue"> 
	<header class="main-header"> 
		<fenix-header></fenix-header>
	</header>

	<menu class="true" style="margin-top:0px"></menu>

	<div id="fx-main-content" toast>
		<div class="fx-wrapper" ng-view></div>
	</div>


 <script src="https://www.dfnx.io/assets/vendor/jquery/jquery-2.2.3.min.js"></script>
 <script src="https://www.dfnx.io/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

	</body>
</html>
