.schedule-detail {
    .back {
        padding:10px 20px;
        font-size: 1.5em;
    }
}

.schedule_title {
    padding:0px 50px 0px 0px;

    .name {
        font-weight: 800;
        display: block;
        font-size: 15pt;
    }
    
    .lastRefreshed {
        font-size: 8pt;
    }
}


.control {
    .control_description {
        font-weight: 800;
        display: block;
        font-size: 15pt;
    }
    
    .control_number {
        font-size: 12pt;
    }
}

.aging-summary {
    font-size:10pt;
    margin-right: 25px;

    th, td {
        padding:5px;
        width:5em;
        text-align: right;
    }
}

.recv-toolbar {
    .btn-group {
        margin-left: 15px;
    }
}

.comment-col {
    min-width: 400px;

    @media (max-width :1900px) {
        width: 400px;
    }
}

.page {
    .header {

        .back-btn {
            display: inline-block; 
            font-size:15pt; 
            padding:10px;
        }

        .title {
            .lastRefreshed {
                font-size: 9pt;
                font-weight: 250;
            }
        }

        .right-btn-bar {
            margin:5px 0px 0px 15px; position:absolute; right:25px;

            .icon-tray {
                margin:0px;
                padding:0px;
                display: inline-block;
                vertical-align: text-bottom;
        
                @media (max-width :1200px) {
                    a {
                        font-size: 1.5em;
                    }
                }
            }

            @media (max-width :1000px) {
                .recv-kpi-bar {
                    display: none;
                }
            }
        }
  
    }
}

.recv-kpi-bar {
    position: relative;
    display: inline-block;
        
    .btn-group {
        margin-right: 25px;
    }

    .kpi-bar-item {
        width: 10em;

        @media (max-width :1200px) {
            width: 8em;
        }
    }
    
    &.tablet {
        .btn-group {
            margin-right: 15px;
        }

        .kpi-bar-container {
            .kpi-bar-content {
                .kpi-bar-number {
                    font-size: 1em;
                }
            }
        }
    }

}

.control-info {

    margin:10px 100px;

    .caption {
        width: 5em;
    }
 
    &:table {
        table-layout: fixed;
        width: 100%;
    }

    @media (max-width :1000px) {
        margin:5px;
        font-size: 1.0em;
        .caption {
            display: none;
        }
    }


    td {
        padding-bottom: 10px;
    }
}

.kpi-row {
    min-height: 25px;
    padding:10px 185px 0px;

    .btn-group {
        margin-right:50px;
    }

    @media (min-width :1000px) {
        display: none;
    }
}

.receivable-postings {
    margin-top:10px;
    float:left;
    width: calc(100% - 425px);

    @media (max-width :1200px) {
        float:none;
        width: 100%;
    }

    .receivable-postings-search {
        width:16em;
        margin:0px 0px;
        padding:0px 0px;
    }

    border:1px solid #ececec;
    padding:5px 10px;

    .control-info {
        margin:0px;
    }
}


.receivable-story {
    margin-top:10px;
    width: 425px;
    float: left;

    border:1px solid #ececec;
    padding:5px 10px;

    @media (max-width :1200px) {
        float:none;
        width: 100%;

        .vscroll {
            height: unset;
        }
    }
}