<div class="page">
    <div class="menu" style="margin:100px auto; max-width:800px;">
        <label>Receivables</label>
        <ul class="list-unstyled">
            <li ng-repeat="schedule in schedules | filter:isReceivable"><a href ng-click="openSchedule(schedule)">{{schedule.name}}</a></li>
        </ul>

    </div>
</div>