<div class="page">

    <div class="header" style="position: relative;">
	
		<div class="title" style="width:auto; padding-right:35px">
			<a href ng-click="onSwitchSchedule()">{{result.scheduleName}}</a>
		</div>

		<div style="position:absolute;top:40px; left:25px;font-size:.8em">
			<span >Last Refreshed : {{result.lastRefreshed | date:'short'}}</span>
		</div>
			
		<div class="recv-toolbar">
			<div class="btn-group" style="padding:5px 0px">
				<input autofocus="autofocus" class="form-control" placeholder="Search...." ng-model="searchText">
			</div>
			
			<div class="btn-group" ng-show="hasMultipleLocations()">
				<location-dropdown selected="searchDto.locationIds" on-change="onLocationChange(selected)"></location-dropdown>
			</div>

			<div class="btn-group" ng-if="doStatus">
				<drop-down options="statuses" title="'Status'" close="onStatusFilter(data)"></drop-down>
			</div>
		</div>

		<div class="btn-group" style="padding-left:20px; padding-top:10px;margin:-5px 0px 0px 15px; position:absolute; right:150px">
			<div class="btn-group" style="width:12em">
				<kpi-stat color="'bg-green'" value="totalBalance(result.scheduleBalance)  | currency:undefined:0" text="totalCount + ' Records'"></kpi-stat>
			</div>

			<div class="btn-group" style="width:12em">
				<kpi-stat color="'bg-red'" value="agedBalance(result.scheduleBalance) | currency:undefined:0" text="agedCount + ' Records'"></kpi-stat>
			</div>
		</div>

		<div class="btn-group pr5" style="margin:5px 0px 0px 15px; position:absolute; right:50px">
			<icon-tray menu="menuOptions"></icon-tray>
		</div>
    </div>
	
	<div ng-show="refreshing" class="alert alert-info" role="alert" style="max-width: 600px; margin: auto;">
		<i class="fas fa-spinner fa-spin"></i> Refreshing Data
	</div>

	<div id="tblHeader" style="margin-top:25px">
		<table class="table no-margin table-hover" style="table-layout: fixed;">
			<thead>
				<tr class='table_header'>
					<th style="width:5px;padding:0px"></th>
					<th ng-if="doStatus" class="width8"><col-sort name="'Status'"  field="'receivableStatus'" field-type="'string'"></col-sort></th>
					<th ng-hide="isMultiAccounts()" class="width4"><col-sort name="'Acct #'" field="'accountNumber'" field-type="'string'"></col-sort></th>
					<th class="width8"><col-sort name="'Control #'"  field="'controlNumber'" field-type="'string'"></col-sort></th>
					<th class="width8"><col-sort name="'Deal #'"  field="'dealNumber'" field-type="'string'"></col-sort></th>
					<th class="width8"><col-sort name="'Date'" field="'dealDate'" field-type="'string'"></col-sort></th>
					<th class="width4"><col-sort name="'Age'"   field="'age'" field-type="'numeric'"></col-sort></th>
					<th class="width8"><col-sort name="'Stock #'"  field="'stockNumber'" field-type="'string'"></col-sort></th>

					<th class="width12"><col-sort name="'Customer'"  field="'customerName'" field-type="'string'"></col-sort></th>

					<th class="width8 money" ng-show="isMultiAccounts()" ng-repeat="account in result.accounts"><col-sort name="account.accountNumber"  on-click="sortByAccount(account.accountNumber)"></col-sort></th>

					<th class="width8 money" ng-hide="isMultiAccounts()"><col-sort name="'Balance'" field="'currentBalance'" field-type="'numeric'"></col-sort></th>
				
					<th class="width8"><col-sort name="'FI Mgr'"  field="'recordOwnerName'" field-type="'string'"></col-sort></th>
					<th>Comment</th>
				</tr>
			</thead>
		</table>
	</div>
		

	<div id="tblData" class="table-body">
		<table class="table no-margin table-hover" style="table-layout: fixed;">

			<tbody>
				<tr ng-repeat="receivable in result.receivableAccounts| filter:showReceivable" ng-class="isAged(receivable) ? 'highlight' : '' ">
					<td style="width:5px;padding:0px" ng-class="isAged(receivable) ? 'bg-red' : '' "></td>
												
					<td ng-if="doStatus" class="width8">
						<a ng-show="receivable.status" href ng-click="onUpdateStatus(receivable)">{{receivable.status}}</a>
						<a ng-hide="receivable.status" href ng-click="onUpdateStatus(receivable)"> - </a>
					</td>

					<td ng-hide="isMultiAccounts()" class="width4">{{receivable.accountNumber}}</td>
					<td class="width8">{{receivable.controlNumber}}</td>
					<td class="width8"><a href ng-click="onDeal(receivable)">{{receivable.documentNumber}}</a></td>
					<td class="width8">{{receivable.documentDate | date:'MM/dd/yy'}}</td>
					<td class="width4 money">{{receivable.age}}</td>
					<td class="width8"><a href ng-click="onVehicle(receivable)">{{receivable.stockNumber}}</a></td>
					<td class="width12">{{receivable.customerName | limitTo:12}}</td>

					<td class="width8 money" ng-show="isMultiAccounts()" ng-repeat="account in result.accounts">{{receivable.accountBalance[account.accountNumber] | currency}}</td>

					<td class="width8 money" ng-hide="isMultiAccounts()" >
						<a href ng-class="receivable.currentBalance < 0 ? 'df-red' : 'df-black'" ng-click="onDetail(receivable)">{{ totalBalance(receivable.currentBalance) | currency}}</a></td>
				
					<td class="width8">{{receivable.recordOwnerName | limitTo:8}}</td>
					<td>
						<div class="comment comment-cozy">
							<comment-mention id="receivable.id"  comment="receivable.comment" oncomment="onComment()" onviewall="onViewAll(receivable.id)"></comment-mention>
						</div>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	<fx-spinner></fx-spinner>
</div>

	
