<div class="page">
    <div class="header" style="position: relative;">
	
		<div class="fx-wrapper back-btn">
			<a href ng-click="onBack()"><i class="far fa-arrow-alt-circle-left bigger"></i></a> 
		</div>

		<div class="title" style="width:auto; min-width:250px; padding-left:10px">
			
			<span >{{detail.scheduleName}}</span>
			
			<div class="lastRefreshed">
				<span >Last Refreshed : {{detail.lastRefreshed | date:'short'}}</span>
			</div>
		</div>

		<div class="btn-group" ng-hide="isTabletMode">
			<control control="control"></control>
		</div>

		<div class="right-btn-bar">	
			<div class="btn-group" style="margin-right:15px">
				<kpi-stat color="'bg-grey'" value="total | currency" text="'Balance'"></kpi-stat>
			</div>

			<div class="icon-tray">
				<icon-tray menu="menuOptions" collapse="isTabletMode"></icon-tray>
			</div>

		</div>
	</div>

	<div class="receivable-postings">
		<div class="fx-wrapper">
			<div class="btn-group" ng-show="isTabletMode" style="margin-right:25px">
				<control control="control"></control>
			</div>
			
			<div class="btn-group" style="margin-right:25px">
				<input autofocus="autofocus" class="form-control width16" placeholder="Search...." ng-model="searchText">
			</div>
			<div class="btn-group">
				<div class="checkbox">
					<label><input type="checkbox" ng-click="toggleZeroBalance()" ng-checked="showZeroBalance"> Show Zero Balance</label>
				</div>
			</div>
	
		</div>


		<div id="tblHeader" style="margin-top:0px">
			<table class="table no-margin table-hover" style="table-layout: fixed;">

				<thead>
					<tr class='table_header'>
						<th class="width2"><col-sort name="'Src'" field="'journalSourceCode'" field-type="'string'" ></col-sort></th>
						<th class="width5">Acct #</th>
						<th class="width8"><col-sort name="'Date'" field="'transactionDate'" field-type="'string'" ></col-sort></th>
						<th class="width8"><col-sort name="'Ref #'" field="'referenceNumber'" field-type="'string'" ></col-sort></th>
						<th class="width8"><col-sort name="'Control 2'" field="'applyTo'" field-type="'string'" ></col-sort></th>
						<th class="width8 money"><col-sort name="'Amount'" field="'amount'" field-type="'numeric'" ></col-sort></th>
						<th>Comment</th>
					</tr>
				</thead>
			</table>
		</div>
		
		<div id="tblData" class="tblData">
			<table class="table no-margin table-hover" style="table-layout: fixed;">
				<tbody>
					<tr ng-repeat="record in items | filter:searchText">
						<td class="width2">{{record.journalSourceCode}}</td>
						<td class="width5">{{record.accountNumber}}</td>
						<td class="width8">{{record.transactionDate| date:'MM/dd/yy'}}</td>
				
						<td class="width8">{{record.referenceNumber}}</td>
						<td class="width8">{{record.applyTo}}</td>
						<td class="width8" ng-class="record.amount < 0 ? 'money-red' : 'money'">{{record.amount | currency}}</td>

						<td >{{record.comments}}</td>
				
					</tr>

				</tbody>
			</table>
		</div>
			
	</div>	
	<div class="receivable-story">
		<schedule-comments comments="comments" on-comment="onComment(comment)"></schedule-comments>
	</div>

	<fx-spinner></fx-spinner>

</div>