<div class="page">
    <div class="header" style="position: relative;">
	
		<div class="title schedule-title">
			<a href ng-click="onSwitchSchedule()">{{result.scheduleName}}</a>

			<div ng-show="result.lastRefreshed" class="lastRefreshed">
				<span >Last Refreshed : {{result.lastRefreshed | date:'short'}}</span>
			</div>
		</div>

		<div class="btn-group" style="padding:5px 0px">
			<input autofocus="autofocus" class="form-control" placeholder="Search...." ng-model="searchText" ng-enter="onSearchControl(searchText)">
		</div>

		<div class="filter-group" ng-show="hasMultipleLocations()">
            <location-dropdown selected="searchDto.locationIds" on-change="onLocationChange(selected)"></location-dropdown>
        </div>

		<div class="right-btn-bar">
			<kpi-bar receivable="result.scheduleBalance" age-alert="result.ageAlert"></kpi-bar>

			<div class="icon-tray">
				<icon-tray menu="menuOptions" collapse="isTabletMode"></icon-tray>
			</div>
		</div>
    </div>
	<div ng-show="refreshing" class="alert alert-info" role="alert" style="max-width: 600px; margin: auto;">
		<i class="fas fa-spinner fa-spin"></i> Refreshing Data
	</div>
	<div class="kpi-row">
		<kpi-bar receivable="result.scheduleBalance"></kpi-bar>
	</div>
    <div class="fx-wrapper">
        	<!--  draw header here -->
			<div id="tblHeader" class="table-header" style="margin-top:5px;overflow: hidden; border-bottom:1px solid #e9e9e9">
				<table class="table no-margin table-hover" style="table-layout: fixed;">
					<thead>
						<tr ng-if="isExpanded">
							<th style="width:5px;padding:0px"></th>
							<th class="width5" ng-if="!isMultiAccounts()"></th>
							<th class="money width4"></th>
							<th class="width8"></th>
							<th class="width20"></th>
							
							<th class="width8"></th>

							<th class="width8 money" ng-if="isMultiAccounts()" ng-repeat="account in result.accounts"></th>

							<th class="money width8" ng-if="!isMultiAccounts()">{{result.scheduleBalance.current  | currency}}</th>

							<th ng-if="isExpanded" class="money width8">{{result.scheduleBalance.overThirty  | currency}}</th>
							<th ng-if="isExpanded" class="money width8">{{result.scheduleBalance.overSixty  | currency}}</th>
							<th ng-if="isExpanded" class="money width8">{{result.scheduleBalance.overNinety  | currency}}</th>
							<th ng-if="isExpanded" class="money width8">{{result.scheduleBalance.overOneHundredTwenty | currency}}</th>

							<th ng-if="!isExpanded && !isMultiAccounts()" class="money width8">{{result.pastDue | currency}}</th>

							<th class="money width8">{{result.total  | currency}}</th>

							<th  class="comment-col"></th>	
						</tr>
						<tr class='table_header'>
							<th style="width:5px;padding:0px"></th>
							<th class="width5" ng-if="!isMultiAccounts()">Account</th>
							<th class="money width4"><col-sort name="'Age'" field="'age'" field-type="'numeric'"></col-sort></th>
							<th class="width8"><col-sort name="'Control'" field="'controlNumber'" field-type="'string'"></col-sort></th>
							<th class="width20"><col-sort name="'Customer'" field="'controlDescription'" field-type="'string'"></col-sort></th>
							
							<th class="width8"><col-sort name="'Date'" field="'entryDate'" field-type="'string'"></col-sort></th>

							<th class="width8 money" ng-if="isMultiAccounts()" ng-repeat="account in result.accounts"><col-sort name="account.accountNumber"  on-click="sortByAccount(account.accountNumber)"></col-sort></th>

							<th class="money width8" ng-if="!isMultiAccounts()"><col-sort name="'Current'" field="'current'" field-type="'numeric'"></th>

							<th ng-if="isExpanded" class="money width8"><col-sort name="'Over 30'" on-click="onSort('overThirty')"  field-type="'numeric'"></th>
							<th ng-if="isExpanded" class="money width8"><col-sort name="'Over 60'" on-click="onSort('overSixty')" field-type="'numeric'"></th>
							<th ng-if="isExpanded" class="money width8"><col-sort name="'Over 90'" on-click="onSort('overNinety')"  field-type="'numeric'"></th>
							<th ng-if="isExpanded" class="money width8"><col-sort name="'Over 120'" on-click="onSort('overOneHundredTwenty')" field-type="'numeric'"></th>

							<th ng-if="!isExpanded && !isMultiAccounts()" class="money width8"><col-sort name="'Past Due'" field="'pastDue'" field-type="'numeric'"></th>

							<th class="money width8"><col-sort name="'Balance'" field="'total'" field-type="'numeric'"></th>

							<th  class="comment-col">Comment</th>
						</tr>
					</thead>
				</table>
			</div>
			
			<!--  scrollable table -->
			<div id="tblData" class="table-body">
				<table class="table no-margin table-hover" style="table-layout: fixed;">
					<tbody>
						<tr ng-repeat="receivable in result.receivableAccounts | filter:showReceivable"  ng-class="{'highlight':isAged(receivable)}">
							<td style="width:5px;padding:0px" ng-class="{'bg-red':isAged(receivable)}"></td>	
							<td ng-if="!isMultiAccounts()" class="width5">{{receivable.accountNumber}}</td>
							<td class="width4 money">{{receivable.age}}</td>					
							<td class="width8">{{receivable.controlNumber}}</td>
							<td class="width20">{{receivable.controlDescription}}</td>
							
							<td class="width8">{{receivable.entryDate | date:'MM/dd/yy'}}</td>

							<td class="width8 money" ng-if="isMultiAccounts()" ng-repeat="account in result.accounts">{{receivable.accountBalance[account.accountNumber] | currency}}</td>
					
							<td class="money width8" ng-if="!isMultiAccounts()"><a
								ng-class="receivable.current  > 0 ? 'df-black' : 'df-red'" 
								href ng-click="onDetail(receivable)">{{receivable.current | currency}}</a></td>

							<td ng-if="isExpanded" class="money width8">
								<span ng-class="receivable.pastDue >= 0 ? 'df-black' : 'df-red'">{{receivable.currentBalance.overThirty  | currency }}</span></td>

							<td ng-if="isExpanded" class="money width8">
								<span ng-class="receivable.pastDue >= 0 ? 'df-black' : 'df-red'">{{receivable.currentBalance.overSixty  | currency}}</span></td>

							<td ng-if="isExpanded" class="money width8">
								<span ng-class="receivable.pastDue >= 0 ? 'df-black' : 'df-red'">{{receivable.currentBalance.overNinety  | currency}}</span></td>

							<td ng-if="isExpanded" class="money width8">
								<span ng-class="receivable.pastDue >= 0 ? 'df-black' : 'df-red'">{{receivable.currentBalance.overOneHundredTwenty  | currency}}</span></td>

							<td ng-if="!isExpanded && !isMultiAccounts()" class="money width8"><a
								ng-class="receivable.pastDue >= 0 ? 'df-black' : 'df-red'" 
								href ng-click="onDetail(receivable)">{{receivable.pastDue | currency}}</a></td>

							<td class="money width8"><a 
								 ng-class="receivable.total >= 0 ? 'df-black' : 'df-red'" 
								 href ng-click="onDetail(receivable)">{{receivable.total | currency}}</a></td>
							<td class="comment-col">
								<div class="comment comment-cozy">
									<comment-mention id="receivable.id"  comment="receivable.comment" oncomment="onComment()" onviewall="onViewAll(receivable.id)"></comment-mention>
								</div>
							</td>
						</tr>
	
					</tbody>
				</table>
            </div>
    </div>
	<fx-spinner></fx-spinner>
</div>